@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #c8d5bb;
  --background-dark: #6c848d;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-light: #47585c;
    --background-dark: #16160e;
  }
} */

.bg {
  background: linear-gradient(
    270deg,
    var(--background-light),
    var(--background-dark)
  );
  background-size: 400% 400%;

  animation: bg-gradation 30s ease infinite;
}

@keyframes bg-gradation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.showTopBottom {
  animation: showTopBottom 0.3s 0.1s ease forwards;
}
.showBottomTop {
  animation: showBottomTop 0.3s 0.1s ease forwards;
}
.showRightLeft {
  animation: showRightLeft 0.3s 0.1s ease forwards;
}
.showLeftRight {
  animation: showLeftRight 0.3s 0.1s ease forwards;
}


@keyframes showTopBottom {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes showBottomTop {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes showRightLeft {
  from {
    transform: translateX(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes showLeftRight {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
